@using Microsoft.AspNetCore.Identity
@using CMCS_PROG_.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model LoginViewModel

 <form asp-action="Login" asp-controller="Account" method="post" class="login-form" >

    <input class="login-input" asp-for="EmailAddress" placeholder="EmailAddress" type="email" />
         <span asp-validation-for="EmailAddress" class="text-danger"></span>
        <br />
     
         <input class="login-input" asp-for="Password" type="password" placeholder="Password"/>
         <span asp-validation-for="Password" class="text-danger"></span>

         <br /><br />
     <button class="btn-submit" type="submit">Login</button>

 </form>