<div class="index-content">
   <div class="img-container">
       <img src="~/image/lecturer1.jpg" class="img-index" />
       <div class="navs">
            <a asp-area="" asp-action="Login" asp-controller="Account" class="navs-item">Login</a>
       </div>

   </div>
</div>